@model IEnumerable<MercyProject.Models.Galleries>

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<div class="card-deck">

@foreach (var item in Model)
{
<div class="card m-3" style="min-width:18rem; max-width:30.5%">
   <div>
        <h5 class="card-header">@item.Name</h5>
    </div>
        <img src="@("~/images/" + item.Photo)" class="card-img-top" asp-append-version="true" height="200" width="200" />
     
</div>
}
</div>
