@{
    ViewData["Title"] = "Home Page";
    
}




@* Carousel slide *@
<div id="CarouselSlide" class=" carousel slide carousel-fade bg-danger container-fluid" data-ride="carousel">
    <ol class="carousel-indicators">
        @*<li data-target="#CarouselSlide" data-slide-to="0" class="active"></li>
        <li data-target="#CarouselSlide" data-slide-to="1"></li>*@
        <li data-target="#CarouselSlide" data-slide-to="0" class="active"></li>
        <li data-target="#CarouselSlide" data-slide-to="1"></li>
        <li data-target="#CarouselSlide" data-slide-to="2"></li>
        <li data-target="#CarouselSlide" data-slide-to="3"></li>
        <li data-target="#CarouselSlide" data-slide-to="4"></li>
        <li data-target="#CarouselSlide" data-slide-to="5"></li>
        <li data-target="#CarouselSlide" data-slide-to="6"></li>
        <li data-target="#CarouselSlide" data-slide-to="7"></li>
        <li data-target="#CarouselSlide" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">

        <!--<div class="carousel-item active">
            <img class="d-block w-100" src="~/Image/Fashion2.jfif" height="600" alt="First slide" />
            <div class="carousel-caption d-none d-md-block">-->
                @*<h5 class="text-primary display-4">Hello Dear</h5>*@
                @*<p class="h2 text-primary">Enjoy God as you read His grace word </p>*@
            <!--</div>
        </div>-->

        <!--<div class="carousel-item active">
            <img class="d-block w-100" src="~/Image/Fashion3.jfif" height="550" alt="Second slide" />
            <div class="carousel-caption d-none d-md-block">-->
                @*<p class="h2">God is love, and He loves you as you are. </p>*@
            <!--</div>
        </div>-->

        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Image/Fashion4.jfif" height="550" alt="Third slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2">There is an out-flow of God's blessing in you when you behold Jesus.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion5.jfif" height="550" alt="Fourth slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2">Revelation is seeing the word of God real for you to walk in it!.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion6.jfif" height="550" alt="Fifth slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2">Be confident that God is in your life.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion7.jfif" height="550" alt="Sixth slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2">Jesus have done so much for yoou to have life in abundant.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion8.jfif" height="550" alt="Seventh slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2"> You are saved by the doings of God in Christ Jesus.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion12.jfif" height="550" alt="Eighth slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2">Everything Jesus went through are for your benefits.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion13.jfif" height="550" alt="Nineth slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2 text-info">There is no two kind of your person in this world, you are original-being created by God.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion14.jfif" height="550" alt="Tenth slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2 text-primary">God is not bad as you think, He is a good God that does wonders in the lives of His beloved ones at His own time.</p>*@
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/Fashion15.jfif" height="550" alt="Eleventh slide" />
            <div class="carousel-caption d-none d-md-block">
                @*<h5>Hello reader</h5>*@
                @*<p class="h2">Let your heart pants for more of God's revelation in your life.</p>*@
            </div>
        </div>




        <a class="carousel-control-prev" href="#CarouselSlide" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#CarouselSlide" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>


    </div>
</div>

<br>
<br>

@* CEO words *@
<div class="container-fluid rounded bg-success rounded">
    @*<h3 class="text-center shadow-lg rounded">What We Do</h3>*@
    <p class="display-4 text-center text-capitalize text-white" style="background-image:radial-gradient(white,blue)">We Are Fashion Designer</p>
    <article class="text-white rounded-circle">
        @*<img src="~/images/Flesh.png" class="figure-img float-md-right shadow-lg rounded-circle" height="250" width="250" />*@
        <p> Doing is what I find joyous in doing in my entire life, business is all about negatiation in meeting demand that will certainly result to profit, which is the driving factor for every business personnel out there</p>
        <p> I have done various type of business, and I do opt-out when there is no satisfactory profit therein. For years now I have been in this business, and I can say it is what-doing. How I drive out profit from my business is directly dependent on my management, what keep me on going in this business is profit therein.</p>
        <p>Double Concept is still growing as there are demand on us out there, our staffs are always on desk and updated, we employ, train and expect much return from them.</p>
    </article>
</div>

@* What we do *@
<div lass="text-center">
    @*<p><h3 class="">What We Do</h3></p>*@
    @*<p class="display-4 text-center text-capitalize text-white" style="background-image:radial-gradient(white,blue)">We Are Fashion Designer</p>*@
    <div tyle="font-size:150%">
        <div class="row">
            <div class="col">
                <img class=" w-100" src="~/Image/Fashion4.jfif">
            </div>
            <div class="col">
                <img class="-block w-100" src="~/Image/Fashion8.jfif">
            </div>
            <div class="col">
                <img class=" w-100" src="~/Image/Fashion4.jfif">
            </div>
            @*<p class="bg-secondary text-white">Gown</p>
        <p class="bg-warning text-white">Female Suit</p>
        <p class="bg-primary text-white">Skirt and Blouse</p>
        <p class="bg-info text-white">And others.</p>*@
        </div>
        </div>
    </div>
</div>

<br>
<br>

@* Explore Gallery *@
<a asp-action="Gallery" asp-controller="Home" class="btn btn-lg btn-primary"> Explore Our Gallery</a>

<br><br>

@* How can we help you *@
<h1 class="text-center bg-success text-white">How can we help you</h1>
<div class="container-fluid bg-info" >
    <div class="justify-content-center">
   <partial name="YourMessage">
    </div>
</div>